html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevents scrollbars */

}

* {
    font-size: 10px;
    font-family: Helvetica;
}

svg {
    display: block; /* removes inline-gap issues */
    box-sizing: border-box;
    width: 100vw; height: 100vh;
    touch-action: none; /* disable default touch actions e.g. scrolling when touching svg */
    background-color: lightgray;
}


svg.zoomable {
  width: 100%;
  height: 100%;
  overflow: hidden;      /* hide content when panned */
  touch-action: none;    /* allow custom pinch/drag handling */
  cursor: grab;          /* visual hint for panning */
}

svg.zoomable:active {
  cursor: grabbing;
}

/* Optional: the inner group that you transform for zoom/pan */
svg.zoomable g.viewport {
  transform-origin: 0 0; /* makes math simpler when using viewBox-like transforms */
  ;
}

.left-mouse-down *  { /* TODO cursors don't cascade reliably in Chromium browsers */
     cursor: grabbing; 
}

.all_circles.shift-down * {
    cursor: crosshair;
}


foreignObject {
  -webkit-user-select: none;
  user-select: none;
}


div.frameinfo.xhover {
    transition: 0.2s ease;
    opacity: 1;
    text-shadow:
        /* 1px 1px 0 #fff, */
        2px 2px 2px rgba(0,0,0,0.7);
}

circle.selected {
    fill-opacity: 1;
    stroke: none;
    stroke-opacity: 1;
}

.has_members circle, rect {
    stroke: black;
    stroke-opacity: 1;
}

/* .class name first => we only need to set class on the 'g' container.  */
.shift-down circle.has_members {
    cursor: zoom-in;
}


rect.drag_selector {
    stroke:red;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    fill-opacity: 0.1;
    cursor: crosshair;
}


.shift-down rect.frame {
    cursor: zoom-out;
}


.ctrl-down.shift-down g {
    fill-opacity: 1;
    cursor: crosshair;
}


.whole.xhover, whole:hover { 
    stroke:black;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}

.region.whole.shift-down {
    cursor: zoom-out;
}



.dragging * {
    stroke:red;
    stroke-dasharray: none;
    stroke-opacity: 1;
    cursor: grabbing; 
}





circle.drafting {
    stroke: green;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    cursor: no-drop;
}

g.foreground * {
    pointer-events: none; /* let mouse events pass through  */
}

polyline.arrow { /* directed line, with arrow */
   /*  stroke-width: 1.4; attribute set in JS */
    marker-mid: url(#arrow);

}

polygon.arrowhead {
    fill: context-fill; /* inherit polyline's RGBA fill colour INCLUDING opacity (alpha) */
    stroke: none; 
}




.dragging line { 
    stroke-dasharray: 2,2;
    stroke:red; 
    stroke-opacity: 1;

}


line.drafting {
    stroke-dasharray: 2,2;
        stroke:purple;
    visibility: visible;
}


circle.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;
}

rect.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;

}

#context-menu {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #ccc;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#context-menu .item {
  font-size: 6;
  padding: 4px 10px;
  cursor: pointer;
}

#context-menu .item:hover {
  background: #eee;
}

.crosshair {
    cursor: crosshair;
}

.test {
    cursor:help; /* pointer with question mark */
    cursor:alias; /* pointer with arrow up to right */
    cursor:all-scroll; /* 4-way arrows, thin - same as move */
    cursor:context-menu;  /* normal pointer */
    cursor:copy;  /* pointer with '+' at top right */
    cursor:move; /* 4-way arrows, thin - same as all-scroll */
    cursor:no-drop;
    cursor:not-allowed; /* same as no-drop */
    cursor:progress;  /* arrow with spinning circle at top right */


    /* cursor:calc() */


}

.no-drop {
        cursor:no-drop;
}

.wait {
    cursor:wait; /* spinning circle, no arrow */
}





.locked.left-mouse-down * {
    cursor:move;
}

.locked.frame-rect.left-mouse-down {
    cursor: move;

}

/* TODO explore uses for these special states & badges, (tweakable via Elements tab in Chromium Developer Tools)
AUTOMATIC CLASSES (force state)
:active (being pressed, mouse down)
:hover - already using this
:focus - elememt has keyboard focus
:visited - a link that has been visited
:focus-within
:focus-visible



BADGE SETTINGS
grid
subgrid
flex
ad
scroll-snap
container
slot
top-layer
reveal
media
scroll
starting style
popover
grid-lanes
view-source

*/

/* FINALLY, this works: when cloaked, elements are not clickable UNLESS selected (visible) */
svg.cloaked g.whole * { pointer-events: none; }
svg.cloaked g.whole.selected * { pointer-events: all; }

.cloaked g { visibility: hidden; pointer-events: none;  } /* this is the only variant I've found that works as expected with node images */

g.whole * { filter: grayscale(100%); opacity: 0.3; pointer-events: all; }
g.selected * { visibility: visible; filter: none; opacity: 1; } 
rect.region { fill-opacity: 0.2; stroke-opacity: 1; rx: 10; } /* ry defaults to rx */

g.node.empty * { /* leaf node, nothing to see inside */
    stroke: none;
    cursor: auto; /* no zoom in */
}

g.whole:hover * {
    stroke:black;
    stroke-dasharray: 2,2;
}

g.whole.xhover * {
    stroke:black;
    stroke-dasharray: 2,2;
}


g.edge.whole * {
    pointer-events: stroke; /* ignore events in fill area, but does include invisible zone stroke */
}




polyline.edge.line {
    fill: none;

}

polyline.edge.zone {
    fill: none;
    stroke-width: 10;
    stroke: transparent;
    stroke-dasharray: none;

}

.region.locked * { 
    stroke:red;
    rx: 0; /* square corners, for rect */
    ry: 0;
}

foreignObject {
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none; /* let mouse events pass through  */
}

.fob.banner {
    padding: 5;
}

.fob.body * {
    /* font-size: x-small; */
    padding: 5;
    visibility: hidden;
}

.fob.body.locked div {
    visibility: visible;
}



.fob.stub {
    display: flex;
    text-align: center;
    transform-origin: top left;
}

.fob.tag * {
    color: orange;
}

.div.stub {
    padding: 6;
    color: blue;
}

/* enable mouse wheel vertical scrolling of rendered html within card's body area */
.scrollable {
  max-height: 100%;
  overflow-y: auto;    
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scrollbar-width: none;
  pointer-events: all;

}


.node.whole * {
    stroke: black;
}

.shift-down g.region.whole {
    cursor: zoom-out;
}

.shift-down g.node.whole {
    cursor: zoom-in;
}



g.whole.drag_selected *
{
    stroke:purple;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    stroke-width: 1;
}
    

rect.contour {
    rx: 8;
    ry: 8;
    stroke-width: 1;

}

.locked rect {
    rx: 0;
    ry: 0;
}

