
            circle {

                fill-opacity: 0.1;
                stroke:black;
                stroke-opacity: 0.1;
                stroke-width: 1;

            }

            circle.xhover {
                stroke:blue;
                stroke-dasharray: 3,3;
                stroke-opacity: 1;
                mix-blend-mode: difference; 
            }

            circle:hover { /* built in pseudo-class  */
                stroke:blue;
                stroke-dasharray: 3,3;
                stroke-opacity: 1;
                /* mix-blend-mode: difference; fill colour auto contrasts with background */
}

    /* will use these for foreignObject child div styling */
    div.circleinfo {
        font-size: 8px;
        justify-content: center;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        font-family: Helvetica;
    }


            circle.selected {
                fill-opacity:1;
            }

            circle.stacked {
                display:none;
            }

            circle.head {
                fill:magenta;
            }
            .blink_me {
                animation: blinker 1.7s cubic-bezier(.5,0,1,1) infinite alternate;
            }

            @keyframes blinker {
                50% { opacity: 0 ;}
            }

            rect.leaf.head {
                fill:magenta
            }

            rect.leaf.selected {
                stroke:black;
                stroke-opacity: 1;
                fill-opacity: 1;
            }

            rect.leaf.xhover {
                stroke:blue;
                opacity: 0.6;
            }

            rect.leaf {
                stroke-width: 3;
                fill-opacity: 0.1;
                stroke-opacity: 0.1;
            }

            rect.leaf:hover { /* built in pseudo-class  */
                stroke:blue;
                opacity: 0.6;
            }

            rect.frame {
                stroke-width: 1;
                stroke-opacity: 0.1;
                fill-opacity: 0.1;
 
            }


            rect.frame.selected {
                stroke-opacity: 1;
                stroke:black;
                fill-opacity: 0.2;
            }

            rect.frame.xhover { /* for inferred only */
                stroke:purple;
                stroke-dasharray: 3,3;
                stroke-opacity: 1;
                fill-opacity: 0.1;
            }

            rect.frame:hover { /* built in pseudo-class  */
                stroke:blue;
                stroke-dasharray: 3,3;
                stroke-opacity: 1;
                fill-opacity: 0.1;
            }

            .edge {
                opacity: 1;
            }

            line {
                stroke-linecap: round;
                stroke-opacity: 0.1;
            }

            .linkzone {
                stroke: yellowgreen;
                stroke-opacity: 0;
            }

            line:hover { /* built in pseudo-class  */
                stroke-opacity: 0.5;
            }

            line.selected {
                stroke-opacity: 1;
            }


            polyline.arrow { /* directed line with arrow */
                fill: none;
                stroke-opacity: 0.1;
                stroke: blue;
                stroke-width: 2;
                marker-mid: url(#arrow);
            }

            polygon.arrowhead {
                fill : red;
                opacity: 0.1;
            }
