
            circle {
                stroke-width: 3;
                opacity: 0.1;
                stroke:black;
            }

            circle.xhover {
                opacity: 0.6;
                stroke:blue
            }

            circle:hover {
                opacity:0.6;
                stroke:blue;
                animation: border-flicker 2s linear infinite;
            }

            circle.selected {
                opacity:1;
            }

            circle.stacked {
                display:none;
            }

            circle.head {
                fill:magenta;
            }
            .blink_me {
                animation: blinker 1.7s cubic-bezier(.5,0,1,1) infinite alternate;
            }

            @keyframes blinker {
                50% { opacity: 0 ;}
            }

            rect.leaf.head {
                fill:magenta
            }

            rect.leaf.selected {
                stroke:black;
                stroke-opacity: 1;
                fill-opacity: 1;
            }

            rect.leaf.xhover {
                stroke:blue;
                opacity: 0.6;
            }

            rect.leaf {
                stroke-width: 3;
                fill-opacity: 0.1;
                stroke-opacity: 0.1;
            }

            rect.leaf:hover {
                stroke:blue;
                opacity: 0.6;
            }

            rect.frame {
                /* fill:transparent; */
                fill:rgb(212, 178, 178);
                stroke-width: 2;
                stroke-opacity: 0.1;
                fill-opacity: 0.2;
            }

            rect.frame.selected {
                stroke-opacity: 1;
                stroke:black;
                fill-opacity: 0.5;
            }

            rect.frame.xhover {
                stroke:blue;
                stroke-dasharray: 20,10,5,5,5,10;
                stroke-opacity: 1;
                fill-opacity: 0.1;
            }

            rect.frame:hover {
                stroke:blue;
                stroke-dasharray: 20,10,5,5,5,10;
                stroke-opacity: 1;
                fill-opacity: 0.1;
            }

            .edge {
                opacity: 1;
            }

            line {
                stroke-linecap: round;
                stroke-opacity: 0.1;
            }

            .linkzone {
                stroke: yellowgreen;
                stroke-opacity: 0;
            }

            line:hover {
                stroke-opacity: 0.5;
            }

            line.selected {
                stroke-opacity: 1;
            }

            svg {
                stroke:black;
                stroke-width: 3;
            }
