html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevents scrollbars */
}

* {
    font-size: 15px;
    font-family: Helvetica;
}

svg {
    display: block; /* removes inline-gap issues */
    box-sizing: border-box;
    border: 1px solid red; 
    width: 100vw; height: 100vh;
    touch-action: none; /* disable default touch actions e.g. scrolling when touching svg */
}


circle {
    fill-opacity: 0.1;
    stroke:black;
    stroke-opacity: 0.1;
    stroke-width: 1;
    cursor: grab;
}

.shift-down circle {
    cursor: crosshair;
}


/*  foreignObject child <div> styling */
div.circleinfo {
    font-size: 8px;
    color: blue;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    /* font-family: Helvetica; */
    mix-blend-mode: difference; /* why does this not work? */

}

div.has_members {
    font-size: 9px;
    /* color: black; */
    font-weight: bold;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center; /* vertical */
    text-shadow:
        /* 1px 1px 0 #fff, */
        2px 2px 4px rgba(0,0,0,0.4);
}

foreignObject {
  -webkit-user-select: none;
  user-select: none;
}

div.frameinfo {
    font-size: 12px;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    opacity: 0.5;

}

div.frameinfo.xhover {
    transition: 0.2s ease;
    opacity: 1;
    text-shadow:
        /* 1px 1px 0 #fff, */
        2px 2px 2px rgba(0,0,0,0.7);
}

circle.selected {
    fill-opacity: 1;
    stroke: none;
    stroke-opacity: 1;
}

circle.has_members {
        stroke: black;
}

/* .class name first => we only need to set class on the 'g' container. (CSS selectors cascade to all descendants) */
.shift-down circle.has_members {
    cursor: zoom-in;
}

.blink_me {
    animation: blinker 0.5s cubic-bezier(1,1) infinite alternate;
}

@keyframes blinker {
    50% { opacity: 0 ;}
}

rect.drag_selector {
    stroke:red;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    fill-opacity: 0.1;
    cursor: crosshair;
}

rect.frame {
    stroke:black;
    stroke-width: 1;
    stroke-opacity: 0.1;
    fill-opacity: 0.1;

    }

.shift-down rect.frame {
    cursor: zoom-out;
}

.ctrl-down.shift-down g {
       fill-opacity: 1;
    cursor: crosshair;
}



rect.frame.selected {
    stroke-opacity: 1;
    fill-opacity: 0.3;
}

rect.frame.xhover, rect.frame:hover, circle:hover, circle.xhover { 
    stroke:black;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}

circle.drag_selected {
    stroke:purple;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}


circle.dragging {
    stroke:red;
    stroke-dasharray: none;
    stroke-opacity: 1;
    cursor: grabbing; 
    /* cursor: move; /* up-down & left-right arrows */
}

.shift-down line.linkzone  { 
     cursor: grab;  
 }

.ctrl-down line.linkzone  { 
     cursor: grab;  
 }

.ctrl-down.shift-down line.linkzone  { 
     cursor: grabbing;  
 }

.shift-down.left-mouse-down line.linkzone  { 
     cursor: grabbing;  
 }


circle.drafting {
    stroke: green;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    cursor: no-drop;
}



g.edge, g.label, div.label, foreignObject, xhtml:div {
    pointer-events: none; /* let mouse events pass through  */
}

line.linkzone { 
    stroke-width:  10;
    stroke: yellow; /* one way to make it clickable */
    stroke-opacity: 0;
}

line.bullet {
    fill: context-fill; 
    stroke: none; 
}

line.linkzone.fixed-source { 
    stroke-width:  1.4;
    stroke: green; 
    stroke-opacity: 1;
    marker-start: url(#bullet);
}

line.linkzone.fixed-target { 
    stroke-width:  1.4;
    stroke: blue;
    stroke-opacity: 1;
    marker-end: url(#bullet);

}

polyline.arrow { /* directed line, with arrow */
    stroke-width: 1.4;
    marker-mid: url(#arrow);
    /* marker-mid: url(#bullet); */
}



polygon.arrowhead {
    fill: context-fill; /* inherit polyline's RGBA fill colour INCLUDING opacity (alpha) */
    stroke: none; 
}

circle.bullet {
    fill-opacity: 1;
    fill: context-fill; /* inherit line's RGBA fill colour INCLUDING opacity (alpha) */
    stroke: none; 
}

polyline.selected {
    stroke-dasharray: none;
}

polyline.xhover { 
    stroke-dasharray: 2,2;
}

.dragging line { 
    stroke-dasharray: 2,2;
    stroke:red; 
    stroke-opacity: 1;

}


line.drafting {
    stroke-dasharray: 2,2;
        stroke:purple;
}


circle.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;
}

rect.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;

}

#context-menu {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #ccc;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#context-menu .item {
  font-size: 6;
  padding: 4px 10px;
  cursor: pointer;
}

#context-menu .item:hover {
  background: #eee;
}
