html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevents scrollbars */
}

svg {
    display: block; /* removes inline-gap issues */
    box-sizing: border-box;
    border: 1px solid red; 
    width: 100vw; height: 100vh;
    touch-action: none; /* disable default touch actions e.g. scrolling when touching svg */
}


circle {
    fill-opacity: 0.1;
    stroke:black;
    stroke-opacity: 0.1;
    stroke-width: 1;
    cursor: grab;
}

.shift-down circle {
    cursor: crosshair;
}


/*  foreignObject child <div> styling */
div.circleinfo {
    font-size: 8px;
    color: blue;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: Helvetica;
    mix-blend-mode: difference; /* why does this not work? */

}

div.has_members {
    font-size: 9px;
    /* color: black; */
    font-weight: bold;
    /* text-decoration: underline; */
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: Helvetica;
    text-shadow:
        /* 1px 1px 0 #fff, */
        2px 2px 4px rgba(0,0,0,0.4);
}

div.frameinfo {
    font-size: 12px;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: Helvetica;
    opacity: 0.5;

}

div.frameinfo.xhover {
    transition: 0.2s ease;
    /* font-size: 16px; */
    opacity: 1;
    text-shadow:
        /* 1px 1px 0 #fff, */
        2px 2px 2px rgba(0,0,0,0.7);
}

circle.selected {
    fill-opacity: 1;
    stroke: none;
    stroke-opacity: 1;
}

circle.has_members {
        stroke: black;
}

/* .class name first => we only need to set class on the 'g' container. (CSS selectors cascade to all descendants) */
.shift-down circle.has_members {
    cursor: zoom-in;
}

.blink_me {
    animation: blinker 0.5s cubic-bezier(1,1) infinite alternate;
}

@keyframes blinker {
    50% { opacity: 0 ;}
}

rect.drag_selector {
    stroke:red;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    fill-opacity: 0.1;
    cursor: crosshair;
}

rect.frame {
    stroke:black;
    stroke-width: 1;
    stroke-opacity: 0.1;
    fill-opacity: 0.1;

    }

.shift-down rect.frame {
    cursor: zoom-out;
}


rect.frame.selected {
    stroke-opacity: 1;
    fill-opacity: 0.3;
}

rect.frame.xhover, rect.frame:hover, circle:hover, circle.xhover { 
    stroke:black;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}

circle.drag_selected {
    stroke:purple;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}


circle.dragging {
    stroke:red;
    stroke-dasharray: none;
    stroke-opacity: 1;
    cursor: grabbing; 
    /* cursor: move; /* up-down & left-right arrows */
}

circle.drafting {
    stroke: green;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
    cursor: no-drop;
}



g.edge, g.label, div.label, foreignObject, xhtml:div {
    pointer-events: none; /* let mouse events pass through  */
}

line.linkzone { 
    stroke-width:  10;
    stroke: yellow;
    stroke-opacity: 0;
}


polyline.arrow { /* directed line, with arrow */
    stroke-width: 1.4;
    marker-mid: url(#arrow);
}

polygon.arrowhead {
    fill: context-fill; /* inherit polyline's RGBA fill colour INCLUDING opacity (alpha) */
    stroke: none; 


}

polyline.selected {
    stroke-dasharray: none;
}

polyline.xhover { 
    stroke-dasharray: 2,2;
}

line.drafting {
    stroke-dasharray: 2,2;
        stroke:purple;
}


circle.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;
}

rect.valid_target {
    stroke: green;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width:  2;
    cursor: crosshair;

}
