html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevents scrollbars */
}

svg {
    display: block; /* removes inline-gap issues */
    box-sizing: border-box;
    border: 1px solid red; 
    width: 100vw; height: 100vh;
    touch-action: none; /* disable default touch actions e.g. scrolling when touching svg */
}


circle {
    fill-opacity: 0.1;
    stroke:black;
    stroke-opacity: 0.1;
    stroke-width: 1;
}

.circleinfo {
    pointer-events: none; /* let mouse events pass through to circle */
}

/*  foreignObject child div styling */
div.circleinfo {
    font-size: 8px;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: Helvetica;
    mix-blend-mode: difference; /* why does this not work? */


}

circle.selected {
    fill-opacity: 1;
    stroke: none;
    stroke-opacity: 1;
}

circle.has_members {
    stroke: black;
}

.blink_me {
    animation: blinker 0.5s cubic-bezier(1,1) infinite alternate;
}

@keyframes blinker {
    50% { opacity: 0 ;}
}

rect.drag_selector {
    stroke:red;
    stroke-dasharray:  2,2;
    stroke-opacity: 1;
    fill-opacity: 0.1;
}

rect.frame {
    stroke:black;
    stroke-width: 1;
    stroke-opacity: 0.1;
    fill-opacity: 0.1;
    }

rect.frame.selected {
    stroke-opacity: 1;
    fill-opacity: 0.3;
}

rect.frame.xhover, rect.frame:hover, circle:hover, circle.xhover { 
    stroke:black;
    stroke-dasharray:2,2;
    stroke-opacity: 1;
}

circle.drag_selected {
    stroke: purple;
    stroke-dasharray: 2,2;
    stroke-opacity: 1;
}


circle.dragging {
    stroke:red;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

g.edge {
    pointer-events: none; /* let mouse events pass through to LinkZone */
}

g.linkzone { 
    stroke: yellow;
    stroke-opacity: 0;
}


polyline.arrow { /* directed line, with arrow */
    stroke-width: 1.5;
    marker-mid: url(#arrow);
}

polygon.arrowhead {
    fill: context-fill; /* inherit polyline's RGBA fill colour INCLUDING opacity (alpha) */
    stroke: none; 


}

polyline.selected {
    stroke-dasharray: none;
}

polyline.xhover { 
    stroke-dasharray: 2,2;
}
